<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="row">
  <div class="small-6 columns">
    <br>
    <%= image_tag("steps") %>
<p>
  <strong>Requested Repair:</strong>
  <%= @repair.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>

<%= link_to 'Back', hoa_repairs_path(@hoa) %>
</div>
</div>
